header{
    border-style: solid;
    border-color: transparent transparent white transparent;
    font-family: 'Permanent Marker', cursive;  
    text-align: center;
    font-size: 45px;
    color:#96A702;
}



.cuadro{
border-style: solid;
border-color: white;
height: 300px;
width: 350px;
position: absolute;
margin: 100px 0 0 500px;

}

input{
    font-size: 20px;
    position: absolute;
    color:whitesmoke;
    width: 250px;
    height: 100px;
    margin: 45px;
    background-color:transparent ;
    border-color: transparent transparent green transparent;
}

input:hover{
    color:#96A702;
    
}
body{
    background-image: url("../img/fondo-page.jpg");
    background-repeat: no-repeat;

}