*{
    margin: 0;
}

body{
    background-image: url("../img/banner3.jpg");
    background-repeat: no-repeat;
    background-position: 0 116px;
    font-family: 'Nanum Brush Script', cursive;
}

.cab{    
    border-color: gray;
    width: 90px;
    height: 54px;
    width: 100%;
    background: #2A2A2A;
    z-index: 5;
}

.logo{
    color: white;
    text-decoration: none;
    position: absolute;
    margin-left: 1em;
    font-size: 1.5em;    border-style: solid;
    padding: 10px;
    border-right-width: 1px;
    border-color: transparent #3A3A3A transparent transparent;

}

.compras{
    display: inline-block;
    float: right;
    margin: 0.7em 0 0 0;
    border: none;
    border-radius: 4px;
    text-align: center;
    position: relative;
    padding: 8px 20px;   
    background: #82B440;
    box-shadow: 0 2px 0 #6f9a37;
    color: white;
    
}


.menu{
    border-color: gray;
    width: 90px;
    height: 84px;
    width: 100%;
    background: rgb(32, 32, 32);
    z-index: 5;
    box-shadow: 1px 5px rgba(0, 0, 0, 0.555);
}
.dios{
    display:inline-block;
    font-size:90px;
    color: rgb(13, 79, 105);
    text-decoration: none;
    margin-left: 40px;
    
}


.nombre{
  position: relative;
  z-index: 1;
  font-size: 3em;
  text-align: center;
  margin-top: 60px;
  color:white;
    
}


img{
    height: 2em;
    float: right;
    padding:0.5em;
}

.boton{    
    border: none;
    border-radius: 4px;
    text-align: center;
    position: relative;
    padding: 20px 50px;   
    background: #82B440;
    box-shadow: 0 2px 0 #6f9a37;
    color: white;
}

.app{
padding: 1.5em;


}